.container{
	background-color: #212127;
	font-family: franklin  gothic;
	height: 180px;
	width: 100%;


}
#downlinks{
	display: inline-block;
	color: #dededc;
	font-size: 14px;
	text-decoration: non;
	width: 100%;
	margin-left: 100px;
	list-style: none;

}
#one{
float:left ;
width: 20%;
}
#two{
float:left;
width: 10%;
}
#tree{
	margin: 0 auto;
	width: 20%;
	}
