.container{
	font-family: Franklin gothic;
}
.top{
	background-color:lightpink ;
	border-color: gradient;
	margin-bottom: 10px;
	padding-top: 1px;
	height: 150px;
}
header li{
	list-style: none;
}
a:link,a:visited{
	text-decoration: none;
	float: right;
	background-color:#000137 ;
	color: white;
	margin: 5px ;
	padding: 7px 18px 7px 18px;
	border-radius: 20px;
}
a:hover,a:active{
			background-color: lightgray;
			color: black;}

.outbox{

padding-top: 1px;
	background-image: url(https://cdn.pixabay.com/photo/2017/07/31/16/12/laptop-2558666_960_720.jpg);
	height: 530px;
	background-repeat: none;

}
.innerbox{
	background-image: linear-gradient(to bottom right,palevioletred ,yellow);
	width: 30%;
	height: 350px;
	padding: 20px;
	margin: 50px;
	font-family: helvetica;

}
h1{
	margin-left: 50px;
	font-size: 50px;
}
h3{
	font-size: 30px;
}





/*#links{
		list-style: none;}
		a:link,a:visited {
			text-decoration: none;
			background-color: #000137;
			color: white;
			display: block;
			width: 100px;
			margin: 4px;
			border-radius: 20px;
			text-align: center;
			float: right;
			padding-right:10px;
			padding: 5px 15px 10px 15px;
			position: topright;
			clear: left;
		}