.outer{
	width: 100%;
	margin-left: 150px;
	font-family: calibri;
}
h1{
	margin-left: 100px;
	font-size: 40px;
}

#image{
	width: 50%;
	height: 100px;
	margin-left: 50px;
	margin-top: 10px;
	padding-top: 40px;
}
/*#text{
	background-color: lightgray;
	width: 60%;
	float: right;
	height: 100px;
	margin-top: -200px;
}*/
#text{Font-family: calibri;
width: 50%;
font-size: 16px;
padding: 30px 20px 30px 20px;
float: right;
margin-top: -150px;
margin-right:20px;

}
.both{
	background-color: lightgray;
	height: 400px;
	margin-bottom: 30px;
}
button{
	margin-top: 20px;
      width: 140px;
       border: 0;	
       padding: 12px 10px;
       background-color: darkslategray;
       color: whitesmoke;
}